current-context: kubelet-context
apiVersion: v1
kind: Config
clusters:
- name: masters
  cluster:
    certificate-authority: /ssl/ca.pem
contexts:
- name: kubelet-context
  context:
    cluster: masters
    user: kubelet
users:
- name: kubelet
  user:
    client-certificate: /ssl/kubelet.pem
    client-key: /ssl/kubelet-key.pem

