[Unit]
Description=Kubernetes Kubelet service
After=apiserver.service

[Service]
ExecStartPre = -/usr/bin/docker pull gcr.io/google_containers/hyperkube:v{{version}}
ExecStartPre = -/usr/bin/docker stop kubelet
ExecStartPre = -/usr/bin/docker rm -f kubelet
ExecStart    = /usr/bin/docker run --name kubelet --net host --pid host --privileged \
                                   -v /etc/kubernetes/ssl:/ssl:ro -v /etc/kubernetes/kubeconfig:/etc/kubernetes/kubeconfig:ro -v /:/rootfs:ro -v /sys:/sys:ro -v /dev:/dev -v /var/lib/docker/:/var/lib/docker:ro -v /var/lib/kubelet/:/var/lib/kubelet:rw -v /var/run:/var/run:rw -v /etc/kubernetes/manifests:/etc/kubernetes/manifests/:rw \
                                   gcr.io/google_containers/hyperkube:v{{version}} /hyperkube kubelet --containerized --config /etc/kubernetes/manifests --register-node true --kubeconfig /etc/kubernetes/kubeconfig --cluster-dns=10.12.0.10 --cluster-domain=cluster.local \
                                   --api-servers https://172.17.8.11,https://172.17.8.12,https://172.17.8.13 
ExecStartPost = /usr/bin/sleep 5
ExecStartPost = /usr/bin/bash -c "/usr/bin/docker run --rm --net host -v /etc/kubernetes/ssl:/ssl:ro -v /etc/kubernetes/kubeconfig:/etc/kubernetes/kubeconfig:ro goblain/kubectl -s https://172.17.8.11 --kubeconfig /etc/kubernetes/kubeconfig label --overwrite=true nodes %H $(grep FLEET_METADATA /run/systemd/system/fleet.service.d/20-cloudinit.conf | cut -d= -f3- | sed 's/.$//' | sed 's/,/ /g')"
TimeoutStartSec = 300
Restart      = always
RestartSec   = 5

[Install]
WantedBy = multi-user.target

[X-Fleet]
Global    = true
